# 터미널에서 입력: pip install -r requirements.txt
## 만약 UnicodeDecodeError: 'cp949' codec 어쩌구 하는 오류가 나면 우측 하단의 안코딩을 UTF-8로 지정하거나, pip를 업그레이드 해보자.
## python.exe -m pip install --upgrade pip
fastapi
uvicorn[standard]
python-dotenv
pydantic
requests
tensorflow
numpy
pandas
joblib
python-multipart
ultralytics
transformers
httpx
tensorflow

# 그밖에 설치할 파일
## (터미널) ollama pull qwen2.5:3b-instruct
# 사진 분석 모델 파일
## 
# 기분 분석 모델 파일
## https://drive.google.com/file/d/1uICUi6SR_DF4DnCRQIjAYydNbMKbzefs/view?usp=drive_link → /Predict/kobert_emotion_model 폴더에 넣기

# 터미널에서 실행해야할 명령어
## uvicorn photo_.app:app --reload
## 테스트용(임시. 안해도 됨.) - 명령 프롬프트(cmd)에서 실행: curl -X POST "http://127.0.0.1:8000/upload/" ^ More? -H "accept: application/json" ^ More? -H "Content-Type: multipart/form-data" ^ More? -F "file=@D:\salad.jpg"    

# 실행해야할 Python 파일들
## /MealMind/app.py
## http://127.0.0.1:8001/ping    // 동작 확인. 그냥 접속하면 http://127.0.0.1:8001/ 로 가서 작동을 하지 않을 수 있다. 반드시 /ping을 덧붙이자.