<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <!-- 상단 네비게이션 -->
    <header th:fragment="header">
        <div class="welcome">
            <span sec:authorize="isAnonymous()">MealMind에 오신 것을 환영합니다.</span>
            <span sec:authorize="isAuthenticated()">
                <span th:text="${#authentication.principal.member.memberName}"></span>님 환영합니다!
            </span>
        </div>
        <nav>
            <a href="/">메인 메뉴</a>
            <a href="/photo">사진 분석</a>
            <a href="/nutrition">영양소 분석</a>
            <a href="/diet">추천 식단</a>   <!--URL 주소 diet/meal 중에 논의해보자-->
            <a href="/emotion">기분 추천</a>
            <a href="/record">기록</a>
        </nav>
        <div>
            <button onclick="location.href='/member/mypage'">회원정보</button>
            <span>
                <button sec:authorize="isAnonymous()" th:onclick="|location.href='@{/member/login}'|">로그인</button>
                <form th:action="@{/member/logout}" method="post" sec:authorize="isAuthenticated()"
                    style="display:inline;">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="submit">로그아웃</button>
                </form>
            </span>
            <!-- 로그인 상태일 때는 경고창 버튼, 로그아웃 상태일 때는 회원가입 페이지로 이동하는 버튼을 표시 -->
            <button sec:authorize="isAuthenticated()" onclick="alert('먼저 로그아웃해 주세요.');">회원가입</button>
            <button sec:authorize="isAnonymous()" onclick="location.href='/member/signup'">회원가입</button>
        </div>
    </header>

    <!-- 푸터 -->
    <footer th:fragment="footer">
        <div>
            <h4>고객지원</h4>
            <a href="/terms">이용약관</a>
            <a href="/inquiry">문의하기</a>
            <a href="/notice">공지사항</a>
        </div>
        <div>
            <h4>연락처</h4>
            <p>주소: 경기도 수원시 팔달구 중부대로 104</p>
            <p>전화: 031-234-5678</p>
            <p>이메일: contact@mealstaff.com</p>
        </div>
        <div class="footer-bottom">
            © 2025 MealStaff. All rights reserved.
        </div>
    </footer>
</body>

<script>
    // 회원가입 페이지 접근 전 로그인 상태를 체크하는 함수
    function signupCheck() {
        // Thymeleaf의 Spring Security 태그를 사용하여 로그인 상태를 체크합니다.
        // Thymeleaf가 서버에서 렌더링될 때 이 부분이 true 또는 false로 변환됩니다.
        var isAuthenticated = /*[[${#httpServletRequest.userPrincipal != null}]]*/ false;

        if (isAuthenticated) {
            // 로그인 상태일 경우 경고창을 띄우고 페이지 이동을 막습니다.
            alert("먼저 로그아웃해 주세요.");
        } else {
            // 로그아웃 상태일 경우 정상적으로 회원가입 페이지로 이동합니다.
            window.location.href = '/member/signup';
        }
    }
</script>

</html>